.inputsFlexColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.inputsFlexRow {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items:start;
}

.link {
  color: #4C4CFF;
}

.wCol {
  width: 320px;
}

.textWhite {
  color: white;
}
